/* CART */
.cart-card {
    border: solid black 1px;
    border-radius: 10px;
    position: relative;
}

.cart-quantity-div {
    display: flex;
}

.cart-item-title{
    font-size: 20px;
    margin: 0;
}

.cart-item-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.delete-cart-item-icon {
    font-size: 20px;
    right: 10px;
    justify-content: end;
}

.cart-item-image-div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart-image {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.034) solid;
    box-shadow: rgba(0, 0, 0, 0.349);
    height:100px;
    width: 150px;
    box-shadow: inset 0 0 5px #c2b9b9;
}

.adjust-quantity-button {
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.09);
    background: transparent;
    border-radius: 2px;
    background-color: rgba(201, 221, 233, 0.486);
}

.quantity-display {
    align-items: center;
    justify-content: center;
    margin: 0;

}

.cart-item-price-div {
    display: flex;
}

.cart-item-total-price-text {
    margin-right: 5px;
}

.cart-item-pax-price-text {
    font-weight: lighter;
}

