/* start of body */
#body {
    background-image: url("./images/background-image6.png");
    background-repeat: repeat;
}
/* end of body */


/* start of navbar */
.navbar {
    background-color: rgba(119, 68, 68, 0.521);
}

#nav-bar-logo {
    height: 30px;
}


/* end of navbar */


/* start of carousel */
/* #carousel-div {
    height: 100px;
    overflow: hidden;
} */

#banner-div {
    height: 150px;
    overflow: hidden;
}


#banner-img {
    width: 100%;
    opacity: 0.7;
}

/* end of carousel */

/* start of ProductListing */
#active-listing-card-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.active-listing-card {
    display: inline-block;
    margin: 10px 8px 10px 8px;
    width: 16rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
    background-color: white;
}


.active-listing-card-body {
    height: 80px;
}

.active-listing-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-listing-card-button-div {
    background-color: white;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.active-listing-card-btn {
    width: 45%;
    background: #1877f2;
}

.card-img-top {
    height: 150px;
}

/* end of ProductListing */


/* start of ProductInfoPage */
#product-title-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
}

.product-title-letters {
    white-space:pre;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#product-info-image-div {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.product-info-image {
    height: 200px;
    width: 100%;
}

#product-info-description-div {
    display: flex;
    justify-content: center;
}

#description-title-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}

#product-info-slots-table {
    margin-top: 20px;
}

.table-data {
    text-align: center;
    text-align: ;
}

/* end of ProductInfoPage */



/* CART */
/* start of CartItemsList */
.cart-card {
    border: solid black 1px;
    border-radius: 10px;
    position: relative;
    box-shadow: inset 0 0 5px #c2b9b9;
    margin-bottom: 10px;
}

.cart-item-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-title{
    font-size: 20px;
    margin: 0;
}

.delete-cart-item-icon {
    font-size: 20px;
    right: 10px;
    justify-content: end;
}

.cart-item-image-div {
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart-image {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.034) solid;
    box-shadow: rgba(0, 0, 0, 0.349);
    height:100px;
    width: 150px;
    box-shadow: inset 0 0 5px #c2b9b9;
}

.cart-item-datetime-div {
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cart-item-date {
    margin-right: 20px;
}


.cart-quantity-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 25px;
}

.cart-item-quantity {
    margin-right: 10px;
}

.adjust-quantity-button {
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.09);
    background: transparent;
    border-radius: 2px;
    background-color: rgba(201, 221, 233, 0.486);
}

.quantity-display {
    align-items: center;
    justify-content: center;
    margin: 0;
}

.cart-item-price-div {
    display: flex;
    justify-content: flex-end;
}

.cart-item-total-price-text {
    margin-right: 3px;
}

.cart-item-pax-price-text {
    font-weight: lighter;
    font-style: italic;
    margin-right: 8px;
}

/* end of CartItemsList */


/* start of LoginForm */
#login-form-div {
    padding: 20px;
}

#login-form {
    background-color: white;
    padding: 10px;
    border: 1px solid #e1e3e7;
    border-radius: 10px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.04);
}

#login-form-brand-logo-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.form-brand-logo {
    height: 60px;
}

#login-username-div {
    margin-bottom: 10px;
}

#login-password-div {
    margin-bottom: 15px;
}

#login-btn-div {
    margin-bottom: 20px;
}

#login-btn {
    width: 100%;
    background: #1877f2;
}

#sign-up-btn-div {
    display: flex;
    justify-content: center;
}

#sign-up-btn {
    width: 60%;
    background: #42b72a;
}

#sign-up-prompt-div {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

#sign-up-prompt {
    font-size: 12px;
    font-style: italic;
}

/* end of LoginForm */



/* start of SignUpForm */
#sign-up-form-div {
    padding: 20px;
}

#sign-up-form {
    background-color: white;
    padding: 10px;
    border: 1px solid #e1e3e7;
    border-radius: 10px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.04);
}

#sign-up-form-brand-logo-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.sign-up-input-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sign-up-submit-btn {
    width: 100%;
    background: #42b72a;
}

#login-prompt-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#login-prompt {
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
}
/* end of SignUpForm */




/* start of Carousel */


/* end of Carousel */



